# Assignment 3

Welcome to Assignment 3. This will be even more fun. Now we will calculate statistical measures. 

## You only have to pass 4 out of 7 functions

Just make sure you hit the play button on each cell from top to down. There are seven functions you have to implement. Please also make sure than on each change on a function you hit the play button again on the corresponding cell to make it available to the rest of this notebook.

This notebook is designed to run in a IBM Watson Studio default runtime (NOT the Watson Studio Apache Spark Runtime as the default runtime with 1 vCPU is free of charge). Therefore, we install Apache Spark in local mode for test purposes only. Please don't use it in production.

In case you are facing issues, please read the following two documents first:

https://github.com/IBM/skillsnetwork/wiki/Environment-Setup

https://github.com/IBM/skillsnetwork/wiki/FAQ

Then, please feel free to ask:

https://coursera.org/learn/machine-learning-big-data-apache-spark/discussions/all

Please make sure to follow the guidelines before asking a question:

https://github.com/IBM/skillsnetwork/wiki/FAQ#im-feeling-lost-and-confused-please-help-me


If running outside Watson Studio, this should work as well. In case you are running in an Apache Spark context outside Watson Studio, please remove the Apache Spark setup in the first notebook cells.

In [1]:
from IPython.display import Markdown, display
def printmd(string):
    display(Markdown('# <span style="color:red">'+string+'</span>'))


if ('sc' in locals() or 'sc' in globals()):
    printmd('<<<<<!!!!! It seems that you are running in a IBM Watson Studio Apache Spark Notebook. Please run it in an IBM Watson Studio Default Runtime (without Apache Spark) !!!!!>>>>>')

In [2]:
!pip install pyspark==2.4.5

Collecting pyspark==2.4.5
  Downloading https://files.pythonhosted.org/packages/9a/5a/271c416c1c2185b6cb0151b29a91fff6fcaed80173c8584ff6d20e46b465/pyspark-2.4.5.tar.gz (217.8MB)
     |████████████████████████████████| 217.8MB 10.2MB/s eta 0:00:01:00:07     |███████████████████████▋        | 160.8MB 10.1MB/s eta 0:00:06�███████████▎       | 165.6MB 10.1MB/s eta 0:00:06
Collecting py4j==0.10.7 (from pyspark==2.4.5)
  Downloading https://files.pythonhosted.org/packages/e3/53/c737818eb9a7dc32a7cd4f1396e787bd94200c3997c72c1dbe028587bd76/py4j-0.10.7-py2.py3-none-any.whl (197kB)
     |████████████████████████████████| 204kB 47.2MB/s eta 0:00:01
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Stored in directory: /home/dsxuser/.cache/pip/wheels/bf/db/04/61d66a5939364e756eb1c1be4ec5bdce6e04047fc7929a3c3c
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.7 pyspark-2.4.5

In [3]:
try:
    from pyspark import SparkContext, SparkConf
    from pyspark.sql import SparkSession
except ImportError as e:
    printmd('<<<<<!!!!! Please restart your kernel after installing Apache Spark !!!!!>>>>>')

In [4]:
sc = SparkContext.getOrCreate(SparkConf().setMaster("local[*]"))

spark = SparkSession \
    .builder \
    .getOrCreate()

All functions can be implemented using DataFrames, ApacheSparkSQL or RDDs. We are only interested in the result. You are given the reference to the data frame in the "df" parameter and in case you want to use SQL just use the "spark" parameter which is a reference to the global SparkSession object. Finally if you want to use RDDs just use "df.rdd" for obtaining a reference to the underlying RDD object. But we discurage using RDD at this point in time.

Let's start with the first function. Please calculate the minimal temperature for the test data set you have created. We've provided a little skeleton for you in case you want to use SQL. Everything can be implemented using SQL only if you like.

In [8]:
def minTemperature(df):
    #TODO Please enter your code here, you are not required to use the template code below
    #some reference: https://spark.apache.org/docs/latest/api/python/pyspark.sql.html#pyspark.sql.DataFrame
    
    return min(df.temperature)

Please now do the same for the mean of the temperature

In [48]:
def meanTemperature(df):
    mean = df['temperature'].mean()
    #TODO Please enter your code here, you are not required to use the template code below
    #some reference: https://spark.apache.org/docs/latest/api/python/pyspark.sql.html#pyspark.sql.DataFrame
    return mean

Please now do the same for the maximum of the temperature

In [14]:
def maxTemperature(df):
    #TODO Please enter your code here, you are not required to use the template code below
    #some reference: https://spark.apache.org/docs/latest/api/python/pyspark.sql.html#pyspark.sql.DataFrame
    return max(df.temperature)

Please now do the same for the standard deviation of the temperature

In [50]:
def sdTemperature(df):
    mean = df['temperature'].mean()
    sd = df['temperature'].std()
    #TODO Please enter your code here, you are not required to use the template code below
    #some reference: https://spark.apache.org/docs/latest/api/python/pyspark.sql.html#pyspark.sql.DataFrame
    #https://spark.apache.org/docs/2.3.0/api/sql/
    return sd

Please now do the same for the skew of the temperature. Since the SQL statement for this is a bit more complicated we've provided a skeleton for you. You have to insert custom code at four positions in order to make the function work. Alternatively you can also remove everything and implement if on your own. Note that we are making use of two previously defined functions, so please make sure they are correct. Also note that we are making use of python's string formatting capabilitis where the results of the two function calls to "meanTemperature" and "sdTemperature" are inserted at the "%s" symbols in the SQL string.

In [61]:
def skewTemperature(df):
    my_list = df[~df['temperature'].isnull()].temperature
    mean = df['temperature'].mean()
    sd = df['temperature'].std()
    kurtosis = sum([(((x - mean)/sd) ** 4) for x in my_list]) / len(my_list) 
    skewness = sum([(((x - mean)/sd) ** 3) for x in my_list]) / len(my_list) 
    return skewness

Kurtosis is the 4th statistical moment, so if you are smart you can make use of the code for skew which is the 3rd statistical moment. Actually only two things are different.

In [62]:
def kurtosisTemperature(df):
    my_list = df[~df['temperature'].isnull()].temperature
    mean = df['temperature'].mean()
    sd = df['temperature'].std()
    kurtosis = sum([(((x - mean)/sd) ** 4) for x in my_list]) / len(my_list) 
    skewness = sum([(((x - mean)/sd) ** 3) for x in my_list]) / len(my_list) 
    return kurtosis

Just a hint. This can be solved easily using SQL as well, but as shown in the lecture also using RDDs.

In [58]:
import numpy as np

0       100.0
3        86.0
6        84.0
7        84.0
9        96.0
10       88.0
13       87.0
16       96.0
17       90.0
18       88.0
19       80.0
20       82.0
21       87.0
22       96.0
23       89.0
25       86.0
26       84.0
29       95.0
30       89.0
32       90.0
33       96.0
34       85.0
35       84.0
37       88.0
39       99.0
40       96.0
41       88.0
44       94.0
45       99.0
46       81.0
        ...
2008     87.0
2009     89.0
2011     99.0
2013     99.0
2015     87.0
2016     83.0
2017     83.0
2018     90.0
2019     80.0
2021     82.0
2023     84.0
2024     95.0
2026     82.0
2028     98.0
2031     97.0
2033     89.0
2035     97.0
2036     94.0
2037     90.0
2040     89.0
2041    100.0
2044     86.0
2045     98.0
2046     99.0
2048     90.0
2049     84.0
2050     84.0
2051     99.0
2052     96.0
2056     82.0
Name: temperature, Length: 1342, dtype: float64

In [59]:
def correlationTemperatureHardness(df):
    list1 = df[~df['temperature'].isnull()].temperature
    list2 = df[~df['hardness'].isnull()].hardness
    joined = list(zip(list1, list2))
    mean1 = df.temperature.mean()
    mean2 = df.hardness.mean()
    sd1 = df.temperature.std()
    sd2 = df.hardness.std()

    cov = sum([(x-mean1)*(y-mean2) for (x,y) in joined])/len(list1)
    corr = cov/(sd1*sd2)
    return corr

Now it is time to grab a PARQUET file and create a dataframe out of it. Using SparkSQL you can handle it like a database.

In [5]:
!wget https://github.com/IBM/coursera/blob/master/coursera_ds/washing.parquet?raw=true
!mv washing.parquet?raw=true washing.parquet

--2020-08-24 20:03:43--  https://github.com/IBM/coursera/blob/master/coursera_ds/washing.parquet?raw=true
Resolving github.com (github.com)... 140.82.113.4
Connecting to github.com (github.com)|140.82.113.4|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://github.com/IBM/skillsnetwork/blob/master/coursera_ds/washing.parquet?raw=true [following]
--2020-08-24 20:03:43--  https://github.com/IBM/skillsnetwork/blob/master/coursera_ds/washing.parquet?raw=true
Reusing existing connection to github.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://github.com/IBM/skillsnetwork/raw/master/coursera_ds/washing.parquet [following]
--2020-08-24 20:03:43--  https://github.com/IBM/skillsnetwork/raw/master/coursera_ds/washing.parquet
Reusing existing connection to github.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/IBM/skillsnetwork/master/coursera_ds/washing.parquet [following]
--2020-08-24 20:03:43--  https://raw.githubusercontent.com/IBM/skillsnetwork/master/coursera_ds/washing.parquet
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.48.133
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.48.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 112048 (109K) [application/octet-stream]
Saving to: ‘washing.parquet?raw=true’

100%[======================================>] 112,048     --.-K/s   in 0.007s

2020-08-24 20:03:44 (15.1 MB/s) - ‘washing.parquet?raw=true’ saved [112048/112048]

In [11]:
df = spark.read.parquet('washing.parquet')
df.createOrReplaceTempView('washing')
df.show()
df = df.toPandas()

+--------------------+--------------------+-----+--------+----------+---------+--------+-----+-----------+-------------+-------+
|                 _id|                _rev|count|flowrate|fluidlevel|frequency|hardness|speed|temperature|           ts|voltage|
+--------------------+--------------------+-----+--------+----------+---------+--------+-----+-----------+-------------+-------+
|0d86485d0f88d1f9d...|1-57940679fb8a713...|    4|      11|acceptable|     null|      77| null|        100|1547808723923|   null|
|0d86485d0f88d1f9d...|1-15ff3a0b304d789...|    2|    null|      null|     null|    null| 1046|       null|1547808729917|   null|
|0d86485d0f88d1f9d...|1-97c2742b68c7b07...|    4|    null|      null|       71|    null| null|       null|1547808731918|    236|
|0d86485d0f88d1f9d...|1-eefb903dbe45746...|   19|      11|acceptable|     null|      75| null|         86|1547808738999|   null|
|0d86485d0f88d1f9d...|1-5f68b4c72813c25...|    7|    null|      null|       75|    null| null|       null|1547808740927|    235|
|0d86485d0f88d1f9d...|1-cd4b6c57ddbe77e...|    5|    null|      null|     null|    null| 1014|       null|1547808744923|   null|
|0d86485d0f88d1f9d...|1-a35b25b5bf43aaf...|   32|      11|acceptable|     null|      73| null|         84|1547808752028|   null|
|0d86485d0f88d1f9d...|1-b717f7289a8476d...|   48|      11|acceptable|     null|      79| null|         84|1547808768065|   null|
|0d86485d0f88d1f9d...|1-c2f1f8fcf178b2f...|   18|    null|      null|       73|    null| null|       null|1547808773944|    228|
|0d86485d0f88d1f9d...|1-15033dd9eebb4a8...|   59|      11|acceptable|     null|      72| null|         96|1547808779093|   null|
|0d86485d0f88d1f9d...|1-753dae825f9a6c2...|   62|      11|acceptable|     null|      73| null|         88|1547808782113|   null|
|0d86485d0f88d1f9d...|1-b168089f44f03f0...|   13|    null|      null|     null|    null| 1097|       null|1547808784940|   null|
|0d86485d0f88d1f9d...|1-403b687c6be0dea...|   23|    null|      null|       80|    null| null|       null|1547808788955|    236|
|0d86485d0f88d1f9d...|1-195551e0455a24b...|   72|      11|acceptable|     null|      77| null|         87|1547808792134|   null|
|0d86485d0f88d1f9d...|1-060a39fc6c2ddee...|   26|    null|      null|       62|    null| null|       null|1547808797959|    233|
|0d86485d0f88d1f9d...|1-2234514bffee465...|   27|    null|      null|       61|    null| null|       null|1547808800960|    226|
|0d86485d0f88d1f9d...|1-4265898bb401db0...|   82|      11|acceptable|     null|      79| null|         96|1547808802154|   null|
|0d86485d0f88d1f9d...|1-2fbf7ca9a0425a0...|   94|      11|acceptable|     null|      73| null|         90|1547808814186|   null|
|0d86485d0f88d1f9d...|1-203c0ee6d7fbd21...|   97|      11|acceptable|     null|      77| null|         88|1547808817190|   null|
|0d86485d0f88d1f9d...|1-47e1965db94fcab...|  104|      11|acceptable|     null|      75| null|         80|1547808824198|   null|
+--------------------+--------------------+-----+--------+----------+---------+--------+-----+-----------+-------------+-------+
only showing top 20 rows

In [47]:
df.head()
import numpy as np
df = df.fillna()

,_id,_rev,count,flowrate,fluidlevel,frequency,hardness,speed,temperature,ts,voltage
0,0d86485d0f88d1f9d60bd193a4306793,1-57940679fb8a713bc46a033b3c495cbe,4,11.0,acceptable,NaN,77.0,NaN,100.0,1547808723923,NaN
1,0d86485d0f88d1f9d60bd193a4306ee1,1-15ff3a0b304d789e16a71f4b3e540920,2,NaN,None,NaN,NaN,1046.0,NaN,1547808729917,NaN
2,0d86485d0f88d1f9d60bd193a4307322,1-97c2742b68c7b07c2091d817e839f693,4,NaN,None,71.0,NaN,NaN,NaN,1547808731918,236.0
3,0d86485d0f88d1f9d60bd193a43080fc,1-eefb903dbe4574667b7410be306cf741,19,11.0,acceptable,NaN,75.0,NaN,86.0,1547808738999,NaN
4,0d86485d0f88d1f9d60bd193a4308701,1-5f68b4c72813c25e12d91004ddb33b1b,7,NaN,None,75.0,NaN,NaN,NaN,1547808740927,235.0

Now let's test the functions you've implemented

In [36]:
min_temperature = 0
mean_temperature = 0
max_temperature = 0
sd_temperature = 0
skew_temperature = 0
kurtosis_temperature = 0
correlation_temperature = 0

In [37]:
min_temperature = minTemperature(df)
print(min_temperature)

80.0

In [49]:
mean_temperature = meanTemperature(df)
print(mean_temperature)

90.03800298062593

In [39]:
max_temperature = maxTemperature(df)
print(max_temperature)

100.0

In [51]:
sd_temperature = sdTemperature(df)
print(sd_temperature)

6.100761058621965

In [63]:
skew_temperature = skewTemperature(df)
print(skew_temperature)

0.01039837458333482

In [64]:
kurtosis_temperature = kurtosisTemperature(df)
print(kurtosis_temperature)

1.7734271508770005

In [65]:
correlation_temperature = correlationTemperatureHardness(df)
print(correlation_temperature)

0.017740839487648496

Congratulations, you are done, please submit this notebook to the grader. 
We have to install a little library in order to submit to coursera first.

Then, please provide your email address and obtain a submission token on the grader’s submission page in coursera, then execute the subsequent cells

### Note: We've changed the grader in this assignment and will do so for the others soon since it gives less errors
This means you can directly submit your solutions from this notebook

In [44]:
!rm -f rklib.py
!wget https://raw.githubusercontent.com/IBM/coursera/master/rklib.py

--2020-08-24 20:15:26--  https://raw.githubusercontent.com/IBM/coursera/master/rklib.py
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.48.133
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.48.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2540 (2.5K) [text/plain]
Saving to: ‘rklib.py’

100%[======================================>] 2,540       --.-K/s   in 0s

2020-08-24 20:15:27 (30.6 MB/s) - ‘rklib.py’ saved [2540/2540]

In [45]:
from rklib import submitAll
import json

key = "Suy4biHNEeimFQ479R3GjA"
email = 'ashutayal@hotmail.com'
token = 'p5YA3iHTmyAqmVdL'

In [66]:
parts_data = {}
parts_data["FWMEL"] = json.dumps(min_temperature)
parts_data["3n3TK"] = json.dumps(mean_temperature)
parts_data["KD3By"] = json.dumps(max_temperature)
parts_data["06Zie"] = json.dumps(sd_temperature)
parts_data["Qc8bI"] = json.dumps(skew_temperature)
parts_data["LoqQi"] = json.dumps(kurtosis_temperature)
parts_data["ehNGV"] = json.dumps(correlation_temperature)



submitAll(email, token, key, parts_data)

Submission successful, please check on the coursera grader page for the status
-------------------------
{"elements":[{"itemId":"TzU1P","id":"sUpST4RAEeawAApvKZgcCQ~TzU1P~v2j4wuZJEeqGfg6P9v-hwQ","courseId":"sUpST4RAEeawAApvKZgcCQ"}],"paging":{},"linked":{}}
-------------------------